@page "/"
@inject HttpClient Http

<h1>DTDL Model Parsing in WebAssembly</h1>

<p>Model to be parsed:</p>
<textarea @bind="Model" contenteditable="true" style="font-family: 'Lucida Console'; font-size:smaller" spellcheck="false" cols="100" rows="30" /><br/>
<p style="font-style:italic">switch to "Parse results" to run the parser on this model</p>

@code {
    private string Model
    {
        get { return Program._model; }
        set { Program._model = value; }
    }

    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetStringAsync("sample-data/model.json");
    }
}
