@page "/"
@inject HttpClient Http

<h1>DTDL Model Parsing Web App</h1>

<p>Model to be parsed:</p>
<textarea @bind="Model" contenteditable="true" style="font-family: 'Lucida Console'; font-size:smaller" spellcheck="false" cols="100" rows="30" />

@code {
    private string Model
    {
        get { return Program._model; }
        set { Program._model = value; }
    }

    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetStringAsync("sample-data/model.json");
    }
}
